{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 180,
  "tabWidth": 3,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
